{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Accueil
{% endblock %}
{% block body %}

	<div class="row row-cols-1 row-cols-md-4 g-4 ">
	{% for capote in capotes %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
					{% set chemin='img/' ~capote.image %}
						<img src="{{asset(chemin)}}" alt="hp"/>
						<figcaption>
							<h3>{{capote.nom}}</h3>
							<p>{{capote.description}}</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
					{% for t in tailles %}
						<li>
							<a class="dropdown-item" href="#">{{t.libelle}}</a>
						</li>
					{% endfor %}	
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

{#	

	<br>

	<div class="row row-cols-1 row-cols-md-4 g-4">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/vador.png')}}" alt="vador"/>
						<figcaption>
							<h3>Dark Vador</h3>
							<p>Pour eviter d'avoir un fils comme Anakin Skywalker.</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/clope.png')}}" alt="clope"/>
						<figcaption>
							<h3>Santé</h3>
							<p>Pour pensez a votre santé.</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/gandalf.png')}}" alt="gandalf"/>
						<figcaption>
							<h3>Gandalf</h3>
							<p>Comment ça je rentre pas moi ?</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/moi.png')}}" alt="moi"/>
						<figcaption>
							<h3>Soirée privé</h3>
							<p>Nan mais je te jure je connais quelqu'un .</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row row-cols-1 row-cols-md-4 g-4">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/noel.png')}}" alt="noel"/>
						<figcaption>
							<h3>Papa noël</h3>
							<p>Même Papa noël il s'y met aussi .</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/code.png')}}" alt="nike"/>
						<figcaption>
							<h3>Code de la route</h3>
							<p>Avec ça impossible d'avoir un accident.</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
						<img src="{{asset('img/pre.png')}}" alt="pre"/>
						<figcaption>
							<h3>La campagnarde</h3>
							<p>Même à la compagne on a le droit à ça dose de plaisir .</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">







					
						<img src="{{asset('img/sio.png')}}" alt="castor"/>
						<figcaption>
							<h3>La SIO</h3>
							<p>Un exemplaire gratuit pour tous les SIO .</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
						<li>
							<a class="dropdown-item" href="#">XS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">S</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">M</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">L</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">XL</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	#}

{% endblock %}
