{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Nos Produits
{% endblock %}
{% block body %}

	<div class="row row-cols-1 row-cols-md-4 g-4 ">
	{% for capote in capotes %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<figure class="snip1487">
					{% set chemin='img/' ~capote.image %}
						<img src="{{asset(chemin)}}" alt="image chemin "/>
						<figcaption>
							<h3>{{capote.nom}}</h3>
							<p>{{capote.description}}</p>
						</figcaption>
						<i class="bi bi-cart"></i>
						<a href="#" title="Ajoutez au panier ! "></a>
					</figure>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Tailles
					</button>
					<ul class="dropdown-menu dropdown-menu-end" style="">
					{% for t in tailles %}
						<li>
							<a class="dropdown-item" href="{{path('app_ajout_panier',{'id':capote.id})}}">{{t.libelle}}</a>
						</li>
					{% endfor %}	
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>


{% endblock %}
